// per default we will use docker to handle dependencies
docker {
    enabled = true
}

// ... but we could also switch to singularity as container engine (e.g. on HPC)
singularity { 
    enabled = false // set this to true if you want to use singularity, and set docker above to false
    autoMounts = true
    cacheDir = 'singularity'
}

params {
    max_cores = 2
    fasta = 'data/GCF_000693535.1_Kleb_pneu_CHS_28_V1_genomic.fna.gz'
}

executor {
    name = "local"
    cpus = params.max_cores
}